<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>DATA VISUALIZER</h2>
            </div>
            <div class="nav-items">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>Data Visualization</h1>
    {{ graph | safe }} 
</body>
</html>